USE [master]
GO
/****** Object:  Database [MECANOGRAFIAA]    Script Date: 2/25/2024 11:50:47 PM ******/
CREATE DATABASE [MECANOGRAFIAA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MECANOGRAFIAA_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LOCAL\MSSQL\DATA\MECANOGRAFIAA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MECANOGRAFIAA_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LOCAL\MSSQL\DATA\MECANOGRAFIAA.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MECANOGRAFIAA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MECANOGRAFIAA]
GO
/****** Object:  Table [dbo].[LISTA_P_M_E]    Script Date: 2/25/2024 11:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTA_P_M_E](
	[USUARIO] [varchar](35) NOT NULL,
	[P_MAL_E] [varchar](35) NOT NULL,
	[FECHA] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGROS_USUARIOS]    Script Date: 2/25/2024 11:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGROS_USUARIOS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[LOGRO] [varchar](8) NOT NULL,
	[CANT] [int] NOT NULL,
 CONSTRAINT [PK_LOGROS_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R_RECORDS_PERSONALIZADO]    Script Date: 2/25/2024 11:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_RECORDS_PERSONALIZADO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[R_NFILE] [varchar](max) NOT NULL,
 CONSTRAINT [PK_R_RECORDS_PERSONALIZADO_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RACHA_USUARIOS_DS]    Script Date: 2/25/2024 11:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RACHA_USUARIOS_DS](
	[USUARIO] [varchar](50) NOT NULL,
	[DIAS_S] [int] NOT NULL,
	[FECHA] [date] NOT NULL,
 CONSTRAINT [PK_RACHA_USUARIOS_1] PRIMARY KEY CLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECORDS_DIFICULTADES]    Script Date: 2/25/2024 11:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECORDS_DIFICULTADES](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[DIFICULTAD] [varchar](11) NOT NULL,
	[PPM] [int] NOT NULL,
	[C] [int] NOT NULL,
	[I] [int] NOT NULL,
	[PRECISION] [varchar](50) NOT NULL,
	[L_O] [int] NOT NULL,
	[L_POS_M] [int] NOT NULL,
	[L_ADDED_M] [int] NOT NULL,
	[FECHA_JUEGO] [datetime] NOT NULL,
 CONSTRAINT [PK_RECORDS_DIFICULTAD_MEDIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECORDS_PERSONALIZADO]    Script Date: 2/25/2024 11:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECORDS_PERSONALIZADO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[NFILE] [varchar](max) NOT NULL,
	[PPM] [int] NOT NULL,
	[C] [int] NOT NULL,
	[I] [int] NOT NULL,
	[PREC] [varchar](50) NOT NULL,
	[L_O] [int] NOT NULL,
	[L_POS_M] [int] NOT NULL,
	[L_ADDED] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
 CONSTRAINT [PK_RECORDS_PERSONALIZADO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECORDS_USUARIOS]    Script Date: 2/25/2024 11:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECORDS_USUARIOS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[PALABRAS_POR_MINUTO] [int] NOT NULL,
	[PALABRAS_CORRECTAS] [int] NOT NULL,
	[PALABRAS_INCORRECTAS] [int] NOT NULL,
	[PRECISION] [varchar](50) NOT NULL,
	[L_O] [int] NOT NULL,
	[L_POS_M] [int] NOT NULL,
	[L_ADDED_M] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
 CONSTRAINT [PK_RECORDS_USUARIOS_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEMA]    Script Date: 2/25/2024 11:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[TEMA] [varchar](70) NOT NULL,
	[PPM] [int] NOT NULL,
	[C] [int] NOT NULL,
	[I] [int] NOT NULL,
	[PRECISION] [varchar](50) NOT NULL,
	[L_O] [int] NOT NULL,
	[L_POS_M] [int] NOT NULL,
	[L_ADDED_M] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
 CONSTRAINT [PK_TEMATICA_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 2/25/2024 11:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[USUARIO] [varchar](50) NOT NULL,
	[NAME_PC] [varchar](50) NOT NULL,
	[CONTRA] [varchar](max) NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[LISTA_P_M_E] ADD  CONSTRAINT [DF_LISTA_P_M_E_FECHA]  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[RACHA_USUARIOS_DS] ADD  CONSTRAINT [DF_RACHA_USUARIOS_FECHA]  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[RECORDS_DIFICULTADES] ADD  CONSTRAINT [DF_RECORDS_DIFICULTAD_MEDIO_FECHA_JEUGO]  DEFAULT (getdate()) FOR [FECHA_JUEGO]
GO
ALTER TABLE [dbo].[RECORDS_PERSONALIZADO] ADD  CONSTRAINT [DF_RECORDS_PERSONALIZADO_FECHA]  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[RECORDS_USUARIOS] ADD  CONSTRAINT [DF_RECORDS_USUARIOS_FECHA]  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[TEMA] ADD  CONSTRAINT [DF_TEMATICA_1_FECHA]  DEFAULT (getdate()) FOR [FECHA]
GO
USE [master]
GO
